{% extends 'base.html' %}
{% block title %}Market Place - Home{% endblock %}

{% block content %}
<h1>Sejam Bem Vindos</h1>
<h2>Copyright</h2>
<h3>Copyright</h3>
<h4>Copyright</h4>

<ul>

    <li>Copyright</li>
    <li><a href="">Copyright</a></li>

</ul>


<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet assumenda autem blanditiis
    dolores enim et eum expedita magni modi, molestiae neque obcaecati officiis quos repellat reprehenderit similique
    veniam?
</p>

{% endblock %}